.jp-xkcdWidget {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.jp-xkcdCartoon {
  margin: auto;
}

.jp-xkcdAttribution {
  margin: 20px auto;
}

.mywidget-container {
  display: flex;
  background: #ccc;
}

.mywidget-btn {
  display: flex;
  width: 200px;
  height: 100px;
  background: red;
}